
#root {
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
} 

:root {
  font-weight: 400;

  color-scheme: light dark;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-image: url(background.png);
  background-image: url(background.jpeg); */
  background-size: 100%;
  font-family: Baskerville ,'Zapfino' !important;
  color: rgba(212, 175, 55) !important;
  line-height: 2.5 !important;
  /* background-color: #ffffee !important; */
  background-color: #0a2c1c !important;
  /* ziediem bēša krāsu */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#gold-text {
  text-transform: uppercase;
  /* color: rgba(212, 175, 55) !important; */
  background-image: linear-gradient(
    to right,
    #462523 0,
           #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #3c4623 100%
    );
     color:transparent;
     -webkit-background-clip:text;
  /* color:#c3a343; darker gold */
  /* -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(gold.jpeg) repeat;
  -webkit-background-clip: text; */
}

.form-text {
  color: rgba(212, 175, 55) !important;
}

h1 {
  font-size: 40px;
  margin-bottom: 2rem !important;
}

#invite {
  font-size: 15px;
  width: auto;
}

#invite textarea{
  color: rgb(91, 90, 89) !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffee !important;
  border-color: black;
  box-shadow: none;
}

#invite button {
  margin-top: 1rem;
  border: none;
  background-color: rgba(212, 175, 55);
}

#invite button img {
  width: 30px;
  height: 30px;
}

#invite .col button {
  margin-top: 0rem;
  /* font-size:15px; */
  /* padding: 0; */
  /* width: 25px;
  height: 25px; */
  background-color: rgba(212, 175, 55);
}

#invite .form-control {
  /* color: rgb(91, 90, 89) !important; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  /* background-color: #212529 !important; */
  border-color: black;
  box-shadow: none;
  /* height: 28px; */
  /* line-height: 10px;
  font-size: 20px;
  text-align: center; */
}

#invite .form-label {
  margin-top: 1rem;
}

#invite .alert {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

#invite ::placeholder {
  opacity: 0.3;
}


#invite .form-check-input {
  margin-top: .5rem;
  width: 25px;
  height: 25px;
}

#invite  .form-check-input:checked {
  background-color: rgba(212, 175, 55);
  border-color: rgb(0,0,0,0);
}

#guests .row {
  margin-bottom: 5px;
}

@media (min-width: 600px){
  #invite {
    width: 30rem;
  }
  #root {
    width:  100vw;
    text-align: center;
  } 

  #messages {
    width:  350px;
  }
}

#messages .toast {
  margin-bottom: 1rem;
}